gulpfile.js
Gruntfile.js
simulator.js
BEFORE PUBLISH.md
.travis.yml
*.dat
*.dat.tmp
*.bat
*.vspscc
*.njsproj
*.sln
*.vssscc
*.vs
*.Tests
*.suo
*.heapsnapshot
microServiceBus.BizTalk
persist
Services
Metadata
!Services/microService.js
!Services/sqlCommand.js
obj
